# Binaries by extension
*.exe
*.exe~
*.a
*.so
*.o
*.obj
*.dll
*.so
*.so.*
*.dylib

# Binaries in project root
build

# All sub-level build binaries
*/**/*
!*/**/*/
!*/**/*.*

# Webview library files
webview.cc
webview.h
webview.o

# Common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# Private files
.env
*.db

# Generated docs
_docs/
