<button
	type="button"
	onclick="__open('https://github.com/ttytm/webview');"
	class="absolute bottom-3 right-3 opacity-20 transition-opacity hover:opacity-40"
	id="gh"
>
	<img
		src="https://img.shields.io/badge/ttytm.webview-000?style=for-the-badge&logo=github&logoColor=bbbbff"
		class="rounded-md"
	/>
</button>
