name: CI macOS

on:
  workflow_call:

env:
  REPO_NAME: ${{ github.event.repository.name }}
  # Path where the module is installed with `v install <giturl>`
  MOD_PATH: ~/.vmodules/webview

jobs:
  setup:
    runs-on: macos-latest
    steps:
      - name: Install V
        uses: vlang/setup-v@v1.3
        with:
          check-latest: true
      - name: Checkout ${{ env.REPO_NAME }}
        uses: actions/checkout@v3
        with:
          path: ${{ env.REPO_NAME }}
      - name: Setup ${{ env.REPO_NAME }}
        run: |
          ${{ env.REPO_NAME }}/build.vsh --silent
          cp -r ${{ env.REPO_NAME }} ${{ env.MOD_PATH }}
      - name: Cache
        uses: actions/cache/save@v3
        with:
          path: |
            vlang
            ~/.vmodules
          key: ${{ runner.os }}-${{ github.sha }}

  build:
    needs: setup
    runs-on: macos-latest
    strategy:
      matrix:
        compiler: [gcc, clang]
    steps:
      - name: Restore Cache
        uses: actions/cache/restore@v3
        with:
          path: |
            vlang
            ~/.vmodules
          key: ${{ runner.os }}-${{ github.sha }}
          fail-on-cache-miss: true
      - name: Setup V
        uses: vlang/setup-v@v1.3
      - name: Build
        run: |
          for example_dir in $(find ${{ env.MOD_PATH }}/examples/* -maxdepth 0 -type d); do
            cmd="v -cg -cc ${{ matrix.compiler }} ${{ matrix.optimization }} $example_dir/"
            [[ "$example_dir" =~ .*"emoji-picker"$ ]] && cmd+="main.v"
            echo "$cmd"
            eval "$cmd"
          done
