name: CI macOS

on:
  workflow_call:

env:
  REPO_NAME: ${{ github.event.repository.name }}
  # Path where the module is installed with `v install <giturl>`
  MOD_PATH: ~/.vmodules/ttytm/webview

jobs:
  setup:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          path: webview
      - name: Setup V
        run: |
          curl -Lo v_macos_arm64.zip https://github.com/vlang/v/releases/latest/download/v_macos_arm64.zip
          unzip -o v_macos_arm64.zip
          mv v ~/v
          ~/v/v symlink
      - name: Setup V module
        run: |
          mkdir -p ~/.vmodules/ttytm && mv webview ~/.vmodules/ttytm/webview
          ~/.vmodules/ttytm/webview/build.vsh --silent
      - name: Save cache
        uses: actions/cache/save@v4
        with:
          path: |
            ~/v
            ~/.vmodules
          key: ${{ runner.os }}-${{ github.sha }}

  test:
    needs: setup
    runs-on: macos-latest
    strategy:
      matrix:
        cc: [tcc, clang]
        optimization: ['', '-W -cstrict']
        exclude:
          - cc: tcc
            optimization: '-W -cstrict'
      fail-fast: false
    steps:
      - name: Restore cache
        uses: actions/cache/restore@v4
        with:
          path: |
            ~/v
            ~/.vmodules
          key: ${{ runner.os }}-${{ github.sha }}
          fail-on-cache-miss: true
      - name: Setup V
        run: ~/v/v symlink && v -showcc self && v doctor
      - name: Build examples
        run: |
          for example_dir in $(find ~/.vmodules/ttytm/webview/examples/* -maxdepth 0 -type d); do
            cmd="v $example_dir/"
            [[ "$example_dir" =~ .*"emoji-picker"$ ]] && cmd+="main.v"
            echo "$cmd"
            eval "$cmd"
          done
